[submodule "private/myleetcode"]
	path = private/myleetcode
	url = https://github.com/anmoljagetia/leetcode-emacs-layer.git
[submodule "private/exwm"]
	path = private/exwm
	url = https://github.com/timor/spacemacsOS.git
